*.psd
/.classpath*
/.project
/.settings
/a*.xml
/answers
/bin
/build
/build*.zip
/build_bak_*
/config*.xml
/config.xml
/data/gui/*.ser
/data/gui/temp.png
/data/gui/web/temp
/data/storage/*
/data/storage/temp
/data/temp
/eclipse_log.txt
/log.txt
/queries/*.aql
/releases
/target
/vm
examples/faketool/results/*
