.code-area {
	-fx-font-family: Consolas;
	-fx-font-size: 11pt;
}

.tagmark {
    -fx-fill: #000000;
}

.anytag {
    -fx-fill: #7F0071;
	-fx-font-weight: bold;
}

.paren {
    -fx-fill: #7F0000;
    -fx-font-weight: bold;
}

.attribute {
    -fx-fill: #7F0000;
}

.avalue {
    -fx-fill: #2A5F00;
}

.comment {
	-fx-fill: #999999;
}