body {
	margin: 10px;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #DDDDDD;
	font-family: Myriad Pro, Calibri, Helvetica, Arial, sans-serif;
	font-size: 100%;
}

content {
	display: grid;
	padding: 3px;
	margin: 0;
	grid-gap: 3px;
	grid-template: "menu menu" "main right" "bottom right" 1fr / min-content;
	width: calc(100vw - 6px);
	height: calc(100vh - 6px);
}

menu {
	background: #F0F0F0;
	grid-area: menu;
	overflow: auto;
	padding: 0;
	margin: 0;
	height: 32px;
	overflow: hidden;

	font-family: Myriad Pro, Calibri, Helvetica, Arial, sans-serif;
	font-size: 100%;

	border: 1px solid #D0D0D0;
}

right {
	background: #FFFFFF;
	grid-area: right;
	overflow: scroll;
	margin: 0;

	border: 1px solid #D0D0D0;
}

main {
	background: #FFFFFF;
	grid-area: main;
	overflow: auto;
	resize: both;
	padding: 0;
	margin: 0;
	
	width: 50vw;
	height: 70vh;
	max-width: 95vw;
	max-height: 85vh;
	min-width: 40vw;
	min-height: 40vh;

	border: 1px solid #D0D0D0;
}

bottom {
	background: #FFFFFF;
	grid-area: bottom;
	overflow: hidden;
	margin: 0;

	border: 1px solid #D0D0D0;
}

#cy {
	width: calc(100% - 3px);
	height: calc(100% - 3px);
}

#verbose {
	width: calc(100% - 30px);
	height: calc(100% - 20px);
	border: 0;
	resize: none;
	overflow: auto;
	font-family: monospace;
	font-size: 100%;
	word-wrap: break-word;
	padding: 10px 20px 10px 10px;
}

#xml {
	font-size: 100%;
	overflow: hidden;
}

#menuBox {
	width: 100%;
	height: 100%;
	padding: 5px;
}

input {
	position: relative;
	top: -2px;
	height: 18px;
	padding: 0;
	font-family: Myriad Pro, Calibri, Helvetica, Arial, sans-serif;
	font-size: 75%;
	vertical-align: middle;
}